$neutral-color: #FFF;
$character-title-color: rgba(0, 0, 0, 0.85);
$primary-color: #000;
$character-disabled-color: rgba(0, 0, 0, 0.25);
$character-placeholder-color: rgba(0, 0, 0, 0.25);
$character-text-color: #9E9E9E;
$character-text-hover-color: #40A9FF;
$border-color: #D9D9D9;
$button-secondary-hover-color: #f8f8f8
