@import './../../styles/colors';

.input {
    box-sizing: border-box;

    min-width: 400px;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 12px;
    gap: 4px;

    font-weight: 400;
    font-size: 14px;
    line-height: 22px;

    background: $neutral-color;

    border: 1px solid $border-color;
    border-radius: 2px;

    outline: none;

    &:focus,
    &:focus-visible,
    &:hover {
        border-color: $character-text-hover-color;
    }

    &::placeholder {
        color: $character-placeholder-color;
    }
}